In [1]:
# 1.sum of the digits in the number

x=123
y=0
while x>0:
    y+=x%10
    x//=10
print(y)

6

In [2]:
# write a program to print reverse of the given number.

x=123
y=0
while x>0:
    d=x%10
    y=y*10+d
    x//=10
print(y)

321

In [1]:
#write factorial of the number
x=5
fact=1
for i in range(1,x+1):
    fact*=i
print(fact)

120

In [ ]:
name="1234"
length=len(name)
middle=""
if len(name)%2==0:
    r=len(name)//2
    middle=name[r-1]+name[r]
else:
    r=len(name)//2
    middle=name[r]
print(middle)

23

In [ ]:
name=1234567890
new=name
count=0
l1=[]

while name>0:
    d=name%10
    count+=1
    name//=10
if count%2!=0:
    middle=count//2+1
    while count>0:
        a=new%10
        if count==middle:
            l1= [a] + l1
        new//=10
        count-=1
else:
    middle=[count//2+1,count//2]
    while count>0:
        a=new%10
        if count in middle:
            l1= [a] + l1
        new//=10
        count-=1
print(l1)

[5, 6]

In [ ]:
num=75547
m=num
temp=m

count=0
while num>0:
    first=num%10 #first
    count+=1
    num//=10

last=m%10 # last
print(last)
middle_part=m//10
print(middle_part)
i=0
power=1
while i< count-2:
    power=power*10
    i+=1

middle_num=middle_part%power
print(middle_num)
total=0
while middle_num>0:
     k=middle_num%10
     total+=k
     middle_num//=10
print(total)
if((first+last)==total):
    print("equal")
else:
    print("not equal")

In [ ]:
l1=[]
ip=1234
temp=str(ip)
for x in temp:
    l1+=[int(x)]
print(l1)
for y in range (1,len(l1)-1):
     if (l1[0]<l1[y]) and (l1[len(l1)-1]<l1[y]):
          print(True)
     else:
          print(l1[y])

[1, 2, 3, 4]
2
3

In [71]:
ip="helloworld"
v="aeiou"
for x in ip[::-1]:
    if x in v:
        print(x)

o
o
e

In [202]:
ip="Jacksparrow"
v="aeiou"
vo=""
for x in ip :
    if x in v and x not in vo :
        vo+=x
print(vo)

ao

In [117]:
ip = "madam"
result = ""
for ch in ip:
    if ip.count(ch) == 1:
        result += ch
print(result)

d

In [121]:
ip="JohnWick"
op=""
for x in ip:
    cap=ord(x)
    if (cap>=65 and cap<=90):
        op+=chr(cap+32)
    elif(cap>= 97 and cap<=122):
        op+=chr(cap-32)
    else:
        op+=x
print(op)

jOHNwICK

In [ ]:
n="NoBody"
upper=""
lower=""
for i in n:
    if(ord(i)>=65 and ord(i)<=90):
        upper+=i
    elif( ord(i)>=97 and ord(i)<=122):
        lower+=i
upper_reverse=""
i=len(upper)-1
while i>=0:
    upper_reverse+=upper[i]
    i-=1
print(upper_reverse+lower)

BNoody

In [138]:
a=789
f=0
while a>0:
    d=a%10
    f+=d
    a//=10
print(f)

24

In [139]:
a=1234
f=0
while a>0:
    d=a%10
    f=f*10+d
    a//=10
print(f)

4321

In [143]:
a=5
fact=1
for i in range(1,a+1):
    fact*=i
print(fact)

120

In [156]:
a="abcdefg"
middle=""
count=0

for i in range(0,len(a)):
     count+=1
if count%2==0:
     middlevalue=count//2
     print(a[middlevalue-1], a[middlevalue])
else:
     middlevalue=count//2
     print(a[middlevalue])

d

In [172]:
a=755457
s=str(a)
first=int(s[0])
last=a%10
middle=0
for x in range(1,len(s)-1):
    middle+=int(s[x])

if((first+last)==middle):
    print("equal")
else:
    print("not equal")

not equal

In [ ]:
a=75547
s=str(a)
def num():


    last=a%10
    first=int(s[0])
    print(first)
    for i in range(1,len(s)-1):
        if(first<int(s[i]) and last<int(s[i])):
            return False
    return True

num()

7

TypeError: 'int' object is not subscriptable

In [199]:
x="helloworld"
v="aeiou"
for i in range(len(x)-1,-1,-1):
    t=x[i]
    if t in v:
        print(t)

o
o
e

In [205]:
x="helloworld"
v="aeiou"
k=""
for i in range(len(x)-1,-1,-1):
    t=x[i]
   
    if t in v and t not in k:
        k+=t
print(k)

oe

In [2]:
a="madam"
x=""
for i in a:
    
    if a.count(i)==1:
        x+=i
print(x)

d

In [210]:
ip="JohnWick"
op=""
for i in range(0,len(ip)):
    t=ord(ip[i])
    if t>=65 and t<=90:
        op+=chr(t+32)
    elif t>=97 and t<=122:
        op+=chr(t-32)
    else:
        op+=t
print(op)

jOHNwICK

In [213]:
ip="JohnWick"
cap=""
sml=""
for i in range(0,len(ip)):
    t=ord(ip[i])
    if t>=65 and t<=90:
        cap+=chr(t)
    else:
        sml+=chr(t)
print(cap[::-1]+sml)

WJohnick

In [224]:
def remove_duplicates(arr):
    seen = set()
    result = []
    for num in arr:
        if num not in result:
            result.append(num)
            
    return result

# Test case
input_arr = [1, 2, 2, 3, 4, 4, 5]
output_arr = remove_duplicates(input_arr)
print(output_arr)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [1]:
ip= "hello wrld"
v=""
op=""
count=0
for i in ip:
    if ip.count(i)!=1:
        count+=1
        op+=i
print(count)
print(op)

3
lll

In [245]:
a="1234"
print(a.isdigit())

True

In [232]:
arrr=[1,2,3,4,5]
op=[]
for num in range(0,len(arrr)):
    op+=[arrr[num]]
print(op)

[1, 2, 3, 4, 5]

In [236]:
arr=[1,2,3,4,5]
op=0
for num in range(0,len(arr)):
    t=arr[num]
    if(t%2==0):
        op+=t
        
print(op)

6

In [262]:
a="123"
k=0
for i in a:
  
    if '1'<=i<='9':
        digit=ord(i)-ord('0')
        k=k*10+digit
print(k)

123

In [267]:
a="hello"
s=""
count=0
for i in a:
    if a.count(i)!=1:
        s+=i
        count+=1
print(count)
print(s)

2
ll

In [268]:
a=5
for i in range(5):
    print("a")

a
a
a
a
a

In [1]:
n=4
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [2]:
n=3
m=4
for i in range(n):
    for j in range(m):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *

In [3]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
n=5 
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    
    
    for k in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [7]:
n=5
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [11]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(n-i):
        print("*",end=" ")

    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [14]:
n=4
for i in range(n):
    for k in range(n-i):
        print(" ",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *

In [21]:
n=3
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()
for i in range(n-2,-1,-1):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()

      *
    * * *
  * * * * *
    * * *
      *

In [30]:
n=4
space=2*(n-1)
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
   
    for k in range(space):
        print(" ",end=" ")
    space-=2
    for l in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(n-i-1):
        print("*",end=" ")
    for k in range(2*i+2):
        print(" ",end=" ")
    for l in range(n-i-1):
        print("*",end=" ")
    print()

*             *
* *         * *
* * *     * * *
* * * * * * * *
* * *     * * *
* *         * *
*             *

In [23]:
n=4
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(n-i-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [35]:
n=4
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i+2):
        print(" ",end=" ")
    for k in range(n-i-1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
    * * *
      * *
        *

In [52]:
n=4
for i in range(n):
    
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(n-i):
        print("*",end=" ")
    print()
for i in range(1,n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()

  * * * *
    * * *
      * *
        *
      * *
    * * *
  * * * *

In [54]:
n=4
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or j==n-1 :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*     *
*     *
* * * *

In [58]:
n=5
m=4
for i in range(m):
    for j in range(n):
        if i==0 or j==0 or i==m-1 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
* * * * *

In [59]:
n=4
for i in range(n):
    for j in range(i+1):
        if i==j or j==0 or i==n-1 :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
*   *
* * * *

In [63]:
n=4
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        if i==k or k==0 or i==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    *   *
  * * * *

In [78]:
n=4
for i in range(n):
    for j in range(n-i):
        if j==0 or j==n-i-1 or i==0:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*   *
* *
*

In [83]:
n=4
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(n-i):
        if k==n-i-1 or i==0 or k==0:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * * * *
    *   *
      * *
        *

In [93]:
n=5
for i in range(n):
    for k in range(n-i):
        print(" ",end=" ")
    for j in range(2*i+1):
        if i==n-1 or j==2*i or j==0:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

          *
        *   *
      *       *
    *           *
  * * * * * * * * *

In [101]:
n=4
for i in range(n):
    for k in range(n-i):
        print(" ",end= " ")
    for j in range(i+1):
        if i==j or j==0 :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for i in range(n-1):
    for j in range(i+2):
        print(" ",end=" ")
    for k in range(n-i-1):
        if k==0 or k==n-i-2:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    *   *
  *     *
    *   *
      * *
        *

In [130]:
n=5
for i in range(n,0,-1):
    s=" "*(n-i)
    if i==1:
        print("*"+s+" *"+s+" *")
    else:
        if i==n:
            print("* "+"  "*(i)+"*")
            print("*"+s+"* "+"  "*(i-1)+"*"+s+"*")
        else:
            print("*"+s+"* "+"  "*(i-1)+"*"+s+"*")

for i in range(2,n+1):
    s=" "*(n-i)
    if i==1:
        print(s+" *"+s)
    else:
        if i==n:
           
            print("*"+s+"* "+"  "*(i-1)+"*"+s+"*")
            print("* "+"  "*(i)+"*")
        else:

            print("*"+s+"* "+"  "*(i-1)+"*"+s+"*")

*           *
**         **
* *       * *
*  *     *  *
*   *   *   *
*     *     *
*   *   *   *
*  *     *  *
* *       * *
**         **
*           *

In [188]:
n=5
for i in range(n-1,1,-1):
    s=" "*(n-i)

    if i==n-1:
        print(s+"* "*(i))
    else:
        print(s+"* "+"  "*(i-2)+"*"+s)

for i in range(1,n):
    s=" "*(n-i)
    if i==1:
        print(s+"*"+s)
    else:
        if i==n-1:
            print(s+"* "*(i))
        else:
        
            print(s+"* "+"  "*(i-2)+"*"+s)

 * * * *
  *   *
   * *
    *
   * *
  *   *
 * * * *

In [189]:
n=5
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [192]:
n=5
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [194]:
n=4
val=0
for i in range(n):
    
    for j in range(i+1):
        val+=1
        print(val,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10

In [201]:
n=5
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(j,end=" ")
    
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [207]:
n=5
for i in range(n):
    for j in range(n,i,-1): 
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [209]:
n=5
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print(k+1,end=" ")
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [216]:
n=5

for i in range(1,n+1):
    
    for j in range(1,i+1):
            
        print(2*j,end=" ")
    print()

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [217]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(2*j-1,end=" ")
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [220]:
n=5

for i in range(n):
    num=1
    for j in range(i+1):
        print(num,end=" ")
        num=num*(i-j)//(j+1)
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [222]:
n=5
for i in range(1,n+1):
    print("  "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

         1
       1 2 1
     1 2 3 2 1
   1 2 3 4 3 2 1
 1 2 3 4 5 4 3 2 1

In [1]:
n=3
l=[]

for i in range(n):
    l.append(list(map(int,input().split())))
ln=len(l[0])
mat=len(l)

if ln==mat:
    print(True)
else:
    print(False)

False

In [3]:
n=[[1,2],[3,4]]
s=len(n)
dia=[]
for i in range(s):
    dia.append(n[i][i])
print(dia)

[1, 4]

In [6]:
n=[[1,2],[3,4]]
n1=len(n)
dia=[]
for i in range(n1):
    dia.append(n[i][n1-i-1])
print(dia)

[2, 3]

In [7]:
n=[[1,2],[3,4]]
n1=len(n)
dia=[]
for i in range(n1):
    for j in range(n1):
        if i!=j:
            dia.append(n[i][j])
print(dia)

[2, 3]

In [ ]:
n=[[1,2],[3,4]]
n1=len(n)
dia=[]
for i in range(n1):
    for j in range(n1):
        if i==j:
            dia.append(n[i][j])
print(dia)

[1, 4]

In [20]:
n=[[1,2],[3,4]]
n1=len(n)
dia=[]
for i in range(n1):
    row=[]
    for j in range(n1):
        if i>=j:
            row.append(n[i][j])
        else:
            row.append(0)
    dia.append(row)
print(dia)

[[1, 0], [3, 4]]

In [23]:
n=[[1,2],[3,4]]
n1=len(n)
dia=[]
for i in range(n1):
    row=[]
    for j in range(n1):
        if j>=i:
            row.append(n[i][j])
        else:
            row.append(0)
    dia.append(row)
print(dia)

[[1, 2], [0, 4]]

In [13]:
n=[[1,2],[3,4]]
row=len(n)
col=len(n[0])
res=[]
for i in range(col):
    sap=[]
    for j in range(row):
        sap.append(n[j][i])
    res.append(sap)
print(res)

[[1, 3], [2, 4]]

In [28]:
n=[[4,2],[3,4]]
n1=len(n)
dia=[]
same=True
for i in range(n1):
    if n[0][0]!=n[i][i]:
        same=False
    
print(same)

True

In [38]:
n=[[1,2],[2,4]]
n1=len(n)
dia=[]
same=True
for i in range(n1):
    if n[i][n1-i-1]!=n[0][n1-1]:
        same=False
        break    
print(same)

True

In [42]:
n=[[1,2,3],[2,4,5],[7,8,9]]
n1=len(n)
dia=[]
same=True
for i in range(n1):
    for j in range(n1):
        if i!=j:
            n[i][n1-i-1]=0
print(n)

[[1, 2, 0], [2, 0, 5], [0, 8, 9]]

In [49]:
n=[[1,2],[3,4]]
n1=len(n)
dia=0
for i in range(len(n)):
    for j in range(len(n[0])):
        dia+=n[i][j]
print(dia)

10

In [50]:
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]
n = len(A)

result = [[0]*n for _ in range(n)]

for i in range(n):
    for j in range(n):
        for k in range(n):
            result[i][j] += A[i][k] * B[k][j]

print(result)

[[19, 22], [43, 50]]