In [ ]:
# Question: Calculate the area of a square. - Formula: Area = side × side - Input: - Side = 5 
squside=5
squarearea=squside*squside
print(squarearea)

25

In [2]:
# Question: Calculate the area of a square. - Formula: Area = side × side - Input: - Side = 5 
length=6
breadth=4
area=length*breadth
print(area)

24

In [3]:
# Question: Calculate the area of a triangle using base and height. - Formula: Area = (1/2) × base × height - Input: - Base = 8 - Height = 5 
base=8
height=5
area=1/2*base*height
print(area)

20.0

In [4]:
# Question: Calculate the perimeter of a square. - Formula: Perimeter = 4 × side - Input: - Side = 6
side=6
perimeter=4*side
print(perimeter)

24

In [6]:
# Question: Calculate the perimeter of a rectangle. - Formula: Perimeter = 2 × (length + breadth) - Input: - Length = 5 - Breadth = 3 - 
length=5
breadth=3
perimeter=2*(length+breadth)
print(perimeter)

16

In [7]:
# Question: Calculate the perimeter of a triangle. - Formula: Perimeter = side1 + side2 + side3 - Input: - Side1 = 5, Side2 = 6, Side3 = 7
side1=5
side2=6
side3=7
perimeter=side1+side2+side3
print(perimeter)

18

In [ ]:
# Question: Break the total amount into denominations. - Input: - Amount = 3700 
amount=3700
thound=3700//1000
fhunder=3700%1000
fhund=fhunder//500
hunder=fhunder%500
hund=hunder//100


print(f"1000:{thound}-500:{fhund}-100:{hund}")

1000:3-500:1-100:2

In [24]:
# Question: Convert total seconds into hours, minutes, and seconds. - Input: - Total seconds = 3672
totalsecond=3672
hour=totalsecond//3600
remaining=totalsecond%3600
min=remaining//60
sec=remaining%60
print(f"hours:{hour},min:{min},sec={sec}")

hours:1,min:1,sec=12

In [25]:
# Question: Calculate the sum of marks in 3 subjects. - Input: - Maths = 85 - Physics = 90 - Chemistry = 88
maths=85
physics=90
chemistry=88
totalmarks=maths+physics+chemistry
print(totalmarks)

263

In [26]:
# Question: Calculate the average of marks in 3 subjects. - Input: - Maths = 85 - Physics = 90 - Chemistry = 88
maths=85
physics=90
chemistry=88
average=(maths+physics+chemistry)/3
print(average)

87.66666666666667

In [27]:
# problem solving 2
# Question: Determine whether a number is even or odd. Explanation: A number is even if it is divisible by 2. Otherwise, it’s odd. - Input: Number = 6 
n=6
if n%2==0:
    print("even num")
else:
    print("odd")

even num

In [28]:
# Question: Check if a number is divisible by 5 but not by 10. Explanation: Use modulo (%) to check if the number % 5 == 0 and number % 10 != 0. - Input: Number = 25
num=25
if (num%5==0) and (num%10!=0):
    print("satify")
else:
    print("not")

satify

In [30]:
# Question: Find the biggest number among two. Explanation: Use comparison operators (>) to check which number is greater. - Input: A = 4, B = 7 
A = 4
B = 7
if A>B:
    print(f"bigger is:{A}")
else:
    print(f"bigger is:{B}")

bigger is:7

In [31]:
# Question: Find the smallest number among two. Explanation: Use comparison operators (<) to find the smaller value. - Input: A = 4, B = 7
A = 4
B = 7
if A<B:
    print(f"smaller is:{A}")
else:
    print(f"smaller is:{B}")

smaller is:4

In [33]:
# Question: Check if a number is divisible by 2, 3, and 6. Explanation: If a number is divisible by both 2 and 3, it is also divisible by 6. - Input: Number = 18
num=18
if num%2==0 and num%3==0:
    print("satisfy")
else:
    print("not")

satisfy

In [35]:
# Question: Check if a person is eligible to vote (age >= 18). Explanation: A person is eligible to vote if their age is 18 or above. - Input: Age = 19 - 
age=19
if age>=18:
    print("eligible to vote")
else:
    print("not eligible")

eligible to vote

In [37]:
# Question: Check if a student passed all subjects (maths, physics, chemistry). Explanation: Student passes only if marks in all subjects are 35 or more. - Input: Maths = 40, Physics = 36, Chemistry = 30 
maths=40
physics=36
chemistry=30
if maths>=35 and physics>=35 and chemistry>=35:
    print("pass")
else:
    print("fail")

fail

In [38]:
# Question: Check if the student passed at least one subject. Explanation: Use logical OR to check if any one subject has marks >= 35. - Input: Maths = 20, Physics = 38, Chemistry = 25
maths=20
physics=38
chemistry=25
if maths>=35 or physics>=35 or chemistry>=35:
    print("pass")
else:
    print("fail")

pass

In [39]:
# Question: Check if the student passed any two out of three subjects. Explanation: Use a counter or logical conditions to verify two subjects >= 35
Maths = 40
Physics = 20
Chemistry = 36
if (Maths>=35 and Physics>=35) or (Maths>=35 and Chemistry>=35) or (Physics>=35 and Chemistry>=35):
    print("pass")
else:
    print("fail")

pass

In [41]:
# Question: Find the biggest number among three. Explanation: Compare each pair of numbers using if-else conditions. - Input: A = 7, B = 4, C = 9
a=7
b=4
c=9
if a>b and a>c:
    print(f"{a} is bigger")
elif b>a and b>c:
    print(f"{b} is bigger")
else:
    print(f"{c} is bigger")

9 is bigger

In [42]:

# Question: Find the smallest number among three. Explanation: Use comparison logic to determine the minimum value. - Input: A = 7, B = 4, C = 9
a=7
b=4
c=9
if a<b and a<c:
    print(f"{a} is smallest ")
elif b<a and b<c:
    print(f"{b} is smallest")
else:
    print(f"{c} is  smallest")

4 is smallest

In [45]:
# Question: Check if a number is a perfect square. Explanation: A number is a perfect square if the square of its square root equals the number. - Input: Number = 49 
num=50
i=0
while i*i<=num:
    if i*i==num:
        print("perfect square")
        break
    i+=1
else:
    print("not perfect square")

not perfect square

In [52]:
# Question: Calculate how many cars are needed for a given number of people. Explanation: Divide total people by 5 and round up using ceiling logic. - Input: Members = 17 - Output: Cars needed = 4
members=17
if members%5==0:
    print("cars:",members//5)
else:
    print("cars:",(members//5)+1)

cars: 4

In [54]:
# Question: Find the second largest number among three inputs. Explanation: Use sorting or nested conditions to find the second largest value. - Input: A = 10, B = 25, C = 18 - Output: Second biggest: 18
a = 7
b = 4
c = 9

if (a > b and a < c) or (a > c and a < b):
    print("a is second smaller")
elif (b > a and b < c) or (b > c and b < a):
    print("b is second smaller")
else:
    print("c is second smaller")

a is second smaller

In [55]:
# Question: Check if a given year is a leap year. Explanation: A year is a leap year if it is divisible by 4, and (not divisible by 100 unless divisible by 400). - Input: Year = 2024 - Output: Leap year
year=2024
if (year%4==0 and year%100!=0) or year%400==0:
    print("leap year")
else:
    print("not")

leap year

In [58]:
# problem solving 3
# 1. Print Numbers from 1 to n
# Question: Write a program to print numbers from 1 to n. Explanation: Use a loop starting from 1 to n and print each number. - Input: n = 5 
n=5
for i in range(1,n+1):
    print(i,end=" ")

1 2 3 4 5

In [59]:
# Question: Write a program to print numbers from m to n. Explanation: Loop from m to n and print values. - Input: m = 3, n = 7
m=3
n=7
for i in range(m,n+1):
    print(i,end=" ")

3 4 5 6 7

In [61]:
# Question: Write a program to print numbers in reverse from n to 1. Explanation: Use a loop starting fro
# m n and decrement to 1. - Input: n = 5
n=5
for i in range(n,0,-1):
    print(i,end=" ")

5 4 3 2 1

In [62]:
# Question: Write a program to print numbers from n to m in reverse. Explanation: Start from n and go down to m. - Input: n = 10, m = 6 
n=10
m=6
for i in range(n,m-1,-1):
    print(i,end=" ")

10 9 8 7 6

In [63]:
# Question: Write a program to calculate the sum of first n natural numbers. Explanation: Use formula or loop to sum from 1 to n. - Input: n = 5
n=5
sum=0
for i in range(n+1):
    sum+=i
print(sum)

15

In [64]:
# Question: Write a program to find the factorial of a number. Explanation: Multiply all numbers from 1 to n. - Input: n = 5 
n=5
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

120

In [65]:
# Question: Write a program to find the sum of all numbers from m to n. Explanation: Loop from m to n and add values. - Input: m = 3, n = 6
m=3
n=6
sum=0
for i in range(m,n+1):
    sum+=i
print(sum)

18

In [68]:
# Question: Write a program to find the product of numbers from m to n. Explanation: Loop from m to n and multiply values. - Input: m = 2, n = 4
m=2
n=4
product=1
for i in range(m,n+1):
    product*=i
print(product)

24

In [70]:
# Question: Write a program to print all factors of a given number. Explanation: Check divisibility of number from 1 to n. - Input: n = 6 - Output: 1 2 3 6
n=6
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

1 2 3 6

In [71]:
# Question: Write a program to count how many factors a number has. Explanation: Increment count when divisible. - Input: n = 6 - Output: 4
n=6
count=0
for i in range(1,n+1):
    if n%i==0:
        count+=1
print(count)

4

In [ ]:
# Question: Check if a number is prime. Explanation: A number is prime if it has exactly 2 factors. - Input: n = 7 

n = 7
count = 0

for i in range(1, n + 1):
    if n % i == 0:
        count += 1

if count == 2:
    print("Prime number")
else:
    print("Not a prime number")

In [72]:
# Question: Print all even numbers between m and n. Explanation: Use loop and check if divisible by 2. - Input: m = 3, n = 10 - Output: 4 6 8 10

m=3
n=10
for i in range(m,n+1):
    if i%2==0:
        print(i,end=" ")

4 6 8 10

In [73]:
# Question: Print all odd numbers between m and n. Explanation: Check if number % 2 != 0. - Input: m = 3, n = 10 - Output: 3 5 7 9
m=3
n=10
for i in range(m,n+1):
    if i%2!=0:
        print(i,end=" ")

3 5 7 9

In [75]:
# Question: Count how many even and odd numbers are in the range m to n. Explanation: Use counters for even and odd. - Input: m = 3, n = 7 - Output: Even = 2, Odd = 3
m=3
n=7
even=0
odd=0
for i in range(m,n+1):
    if i%2==0:
        even+=1
    else:
        odd+=1
print(f"even:{even},odd:{odd}")

even:2,odd:3

In [76]:
# Question: Reverse a given string. Explanation: Use slicing or loop. - Input: “hello” - Output: “olleh”
ip="hello"
op=""
for i in range(len(ip)-1,-1,-1):
    op+=ip[i]
print(op)

olleh

In [77]:
# Question: Check if a string is a palindrome. Explanation: Compare string with its reverse. - Input: “madam” - Output: Palindrome
ip="madam"
if ip==ip[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [78]:
# Question: Calculate the sum of digits of a number. Explanation: Use loop and % 10 to extract digits. - Input: 123 - Output: 6
ip=123
op=0
while ip>0:
    r=ip%10
    op+=r
    ip//=10
print(op)

6

In [80]:
# Question: Calculate the product of digits. Explanation: Multiply digits extracted from number. - Input: 123 - Output: 6
ip=123
op=1
while ip>0:
    r=ip%10
    op*=r
    ip//=10
print(op)

6

In [81]:
# Question: Check if a number is an Armstrong number. Explanation: Sum of cube of digits equals the number. - Input: 153 - Output: Armstrong number
ip=153
m=ip
temp=ip
count=0
res=0
while m>0:
    count+=1
    m//=10
while temp>0:
    r=temp%10
    res+=r**count
    temp//=10
if res==ip:
    print("amstrong")
else:
    print("not amstrong")

amstrong

In [85]:
# Question: Reverse the digits of a number. Explanation: Use loop with % and // to reverse. - Input: 123 - Output: 321

n=123
res=0
while n>0:
    r=n%10
    res=res*10+r
    n//=10
print(res)

321

In [86]:
# Question: Check if a number is a palindrome. Explanation: Compare number with its reverse. - Input: 121 - Output: Palindrome
n=121
temp=n
res=0
while n>0:
    r=n%10
    res=res*10+r
    n//=10

if res==temp:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [88]:
# Question: Count number of vowels in a string. Explanation: Loop and check for a, e, i, o, u. - Input: “apple” - Output: 2
ip="apple"
vowel="aeiou"
cnt=0
for i in ip:
    if i in vowel:
        cnt+=1
print(cnt)

2

In [89]:
# Question: Count consonants in a string. Explanation: Check for alphabetic characters not vowels. - Input: “apple” - Output: 3
ip="apple"
vowel="aeiou"
cnt=0
for i in ip:
    if i not in vowel:
        cnt+=1
print(cnt)

3

In [90]:
# Question: Count vowels and consonants in input string. Explanation: Maintain two counters. - Input: “apple” - Output: Vowels = 2, Consonants = 3
ip="apple"
vowel="aeiou"
con=0
vol=0
for i in ip:
    if i not in vowel:
        con+=1
    else:
        vol+=1
print(vol,con)

2 3

In [93]:
# Question: Check if a number is perfect. Explanation: Sum of proper divisors equals the number. - Input: 28 - Output: Perfect number
ip=28
res=0
for i in range(1,ip):
    if ip%i==0:
        res+=i
if res==ip:
    print("perfect number")
else:
    print("not perfect num")

perfect number

In [94]:
# Question: Check if a number is a neon number. Explanation: Square the number, sum digits, match original. - Input: 9 - Output: Neon number
ip=9
squr=ip*ip
res=0
while squr>0:
    r=squr%10
    res+=r
    squr//=10
if res==ip:
    print("neon number")
else:
    print("not neon number")

neon number

In [98]:
# Question: Check if a number is a strong number. Explanation: Sum of factorial of digits equals the number. - Input: 145 - Output: Strong number
ip=145
temp=ip
res=0
while temp>0:
    r=temp%10
    fact=1
    for i in range(1,r+1):
        fact*=i
    res+=fact
    temp//=10
if res==ip:
    print("strong")
else:
    print("not strong")

strong

In [100]:
# Question: Check if a number is divisible by the sum of its digits. Explanation: Calculate digit sum and check divisibility. - Input: 18 - Output: Harshad number
ip=18
temp=ip
res=0
while ip>0:
    r=ip%10
    res+=r
    ip//=10
if temp==(2*res):
    print("harshad num")
else:
    print("not hardhad num")

harshad num

In [102]:
# Question: Print the Fibonacci series up to n terms. Explanation: Start with 0, 1 and continue with sum of last two. - Input: n = 5 - Output: 0 1 1 2 3

n=5
a,b=0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

0 1 1 2 3

In [103]:
# Question: Again, check for a neon number (example). Explanation: Square number and sum digits. - Input: 9 - Output: Neon number
ip=9
squr=ip*ip
res=0
while squr>0:
    r=squr%10
    res+=r
    squr//=10
if res==ip:
    print("neon number")
else:
    print("not neon number")

neon number

In [104]:
# Solid Square Pattern
# Problem: Print a solid square of stars of size n.
# Input: n = 4

n=4
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [105]:
# Problem: Print a solid rectangle of m rows and n columns.
# Input: m = 3, n = 5
m = 3
n = 5
for i in range(m):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *

In [106]:
# Problem: Print a left-aligned right-angled triangle.
# Input: n = 5
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [107]:
# Right-Angled Triangle (Right-Aligned)
# Input: n = 5
n=5
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [108]:
# Inverted Triangle (Left-Aligned)
# Input: n = 5
n=5
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [109]:
# Inverted Triangle (Right-Aligned)
# Input: n = 5
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(n-i):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [110]:
# Centered Pyramid Pattern
# Input: n = 4
n=4
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *

In [112]:
# Diamond Pattern
# Input: n = 3
n=3
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()
for i in range(n-2,-1,-1):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()

      *
    * * *
  * * * * *
    * * *
      *

In [135]:
# Butterfly Pattern
# Input: n = 4
n=4
for i in range(n-1,-1,-1):
    for j in range(n-i):
        print("*",end=" ")
    for k in range(2*i):
        print(" ",end=" ")
    for l in range(n-i):
        print("*",end=" ")
    print()

for i in range(1,n+1):
    space=2*(i)
    for j in range(n-i):
        print("*",end=" ")
    for k in range(space):
        print(" ",end=" ")
    
    for l in range(n-i):
        print("*",end=" ")
    print()

*             *
* *         * *
* * *     * * *
* * * * * * * *
* * *     * * *
* *         * *
*             *

In [140]:
# Left-Aligned Half Diamond
# Input: n = 4
n=4
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
  
    print()
for i in range(n):
    for j in range(n-i-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [138]:
# Right-Aligned Half Diamond
# Input: n = 4
n=4
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i+2):
        print(" ",end=" ")
    for k in range(n-i-1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
    * * *
      * *
        *

In [145]:
# Sandglass Pattern
# Input: n = 4
n=4
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(n-i):
        print("*",end=" ")
    print()
for i in range(1,n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")

    print()

  * * * *
    * * *
      * *
        *
      * *
    * * *
  * * * *

In [146]:
# Increasing Width Triangle
# Input: n = 5
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [147]:
# Decreasing Width Triangle
# Input: n = 5
n=5
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [148]:
# Right-Aligned Hill Pattern
# Input: n = 4
n=4
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *

In [151]:
# Problem: Print a hollow square of stars of size n.
# Input: n = 4
n=4
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*     *
*     *
* * * *

In [152]:
# Problem: Print a hollow rectangle of m rows and n columns.
# Input: m = 4, n = 5
n=4
m=5
for i in range(n):
    for j in range(m):
        if i==0 or j==0 or i==n-1 or j==m-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
* * * * *

In [ ]:
# Hollow Right-Angled Triangle (Left-Aligned)
# Input: n = 5
n=4
for i in range(n):
    for j in range(i+1):
        if j==0 or i==j or i==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
*   *
* * * *

In [ ]:
# Hollow Right-Angled Triangle (Right-Aligned)
# Input: n = 5
n=4
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        if i==k or k==0 or i==n-1:

            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    *   *
  * * * *

In [ ]:
# Hollow Inverted Triangle (Left-Aligned)
# Input: n = 5
n=4 
for i in range(n):
    for j in range(n-i):
        if i==0 or j==0 or j==n-i-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*   *
* *
*

In [ ]:
# Hollow Inverted Triangle (Right-Aligned)
# Input: n = 5
n=4 
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(n-i):
        if i==0 or k==0 or k==n-i-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * * * *
    *   *
      * *
        *

In [ ]:
# Hollow Pyramid Pattern
# Input: n = 4
n=4
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(2*i+1):
        if k==0 or i==n-1 or k==2*i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      *   *
    *       *
  * * * * * * *

In [ ]:
# Hollow Diamond Pattern
# Input: n = 3
n=4
for i in range(1,n+1):
    s=" "*(n-i)
    if i==1:
        print(s+"*"+s)
    else:

        print(s+"* "+"  "*(i-2)+"*"+s)
for i in range(n-1,0,-1):
    s=" "*(n-i)
    if i==1:
        print(s+"*"+s)
    else:
        print(s+"* "+"  "*(i-2)+"*"+s)

   *
  * *
 *   *
*     *
 *   *
  * *
   *

In [ ]:
# Hollow Butterfly Pattern
# Input: n = 4
n = 4
for i in range(n, 0, -1):
    s = " " * (n - i)
    if i == 1:
        print("*" + s + "*" + s + "*")
    else:
        if i == n:
            print("* " + "  " * (i - 2) + "  *")
            print("*" + s + "* " + "  " * (i - 2) + "*" + s + "*")
        else:
            print("*" + s + "* " + "  " * (i - 2) + "*" + s + "*")

for i in range(2, n + 1):
    s = " " * (n - i)
    if i == n:
        print("*" + s + "* " + "  " * (i - 2) + "*" + s + "*")
        print("* " + "  " * (i - 2) + "  *")
    else:
        print("*" + s + "* " + "  " * (i - 2) + "*" + s + "*")

*       *
**     **
* *   * *
*  * *  *
*   *   *
*  * *  *
* *   * *
**     **
*       *

In [32]:
# Hollow Hourglass Pattern
# Input: n = 5

n=4
for i in range(n-1,-1,-1):
    for k in range(n-i):
        print(" ",end=' ')
    for j in range(2*i+1):
        if i==n-1 or j==0 or j==2*i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for i in range(1,n):
    for k in range(n-i):
        print(" ",end=" ")
    for j in range(2*i+1):
        if i==n-1 or j==0 or j==2*i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * * * * * * *
    *       *
      *   *
        *
      *   *
    *       *
  * * * * * * *

In [33]:
# Problem: Print numbers from 1 to n in triangle form.
# Input: n = 5
n=5
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [34]:
# Repeating Row Number Triangle
# Input: n = 5
n=5
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [35]:
# Continuous Number Triangle
# Input: n = 4
n=4
val=0
for i in range(n):
    for j in range(i+1):
        val+=1
        print(val,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10

In [36]:
# Reverse Row Number Triangle
# Input: n = 5
n=5
for i in range(n):
    for j in range(i+1,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [38]:
# Inverted Number Triangle
# Input: n = 5

n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [39]:
# Right-Aligned Number Triangle
# Input: n = 5
n=5
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print(k+1,end=" ")
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [49]:
# Pyramid Number Pattern
# Input: n = 4
n=4
for i in range(n):
    for j in range( n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print(k+1,end=" ")
    for l in range(i,0,-1):
        print(l,end=" ")

    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1

In [63]:
# Even Number Triangle
# Input: n = 5
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(2*j,end=" ")
    print()

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [67]:
# Odd Number Triangle
# Input: n = 5
n=5
for i in range(0,n):
    for j in range(i+1):
        print(2*j+1,end=" ")
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [72]:
# Pascal’s Triangle
# Input: n = 5
n=5
for i in range(n):
    num=1
    for j in range(i+1):
        print(num,end=" ")
        num=num*(i-j)//(j+1)
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1