In [ ]:
def total_chocolates(money, choc_price, wrappers_for_choc):
    # Initial chocolates bought
    chocolates = money // choc_price
    wrappers = chocolates
    
    # Exchange wrappers for more chocolates
    while wrappers >= wrappers_for_choc:
        new_chocs = wrappers // wrappers_for_choc
        chocolates += new_chocs
        wrappers = wrappers % wrappers_for_choc + new_chocs
    print("total" ,chocolates)
   
    
total_chocolates(21, 1, 3)

total 31

In [1]:
for i in range(20,51):
     if(i%3==0):
        print(i)

21
24
27
30
33
36
39
42
45
48

In [1]:
d={
    "name":"shiva","age":22,"gender":"male"

}
print(d.get("age","not available"))

22

In [2]:
d={
    "name":"shiva","age":22,"gender":"male"
}
for i in d:
    print(d[i],i)

shiva name
22 age
male gender

In [5]:
d={
    "name":"shiva","age":22,"gender":"male"
}

print(list(d.keys()))

['name', 'age', 'gender']

In [6]:
d={
    "name":"shiva","age":22,"gender":"male"
}

print(list(d.values()))

['shiva', 22, 'male']

In [1]:
d={
    "name":"shiva","age":22,"gender":"male"
}
print(d.items())

dict_items([('name', 'shiva'), ('age', 22), ('gender', 'male')])

In [10]:
d={
    "name":"shiva","age":22,"gender":"male"
}
for i,j in d.items():
    print(i,j)

name shiva
age 22
gender male

In [12]:
d={
    "name":"shiva","age":22,"gender":"male"
}
for ind,(i,j) in enumerate(d.items(),start=10):
    print(ind,i,j)

10 name shiva
11 age 22
12 gender male

In [16]:
d={
    "name":"shiva","age":22,"gender":"male"
}
d.update({"college":"vjit"})
print(d)
d.update({"name":"shiva prasad"})
print(d)

{'name': 'shiva', 'age': 22, 'gender': 'male', 'college': 'vjit'}
{'name': 'shiva prasad', 'age': 22, 'gender': 'male', 'college': 'vjit'}

In [17]:
d={
    "name":"shiva","age":22,"gender":"male"
}
print(d.clear())

None

In [26]:

d={
    "name":"shiva","age":22,"gender":"male"
}
d1=d.copy()
print(d1)

{'name': 'shiva', 'age': 22, 'gender': 'male'}

In [ ]:
d={
    "name":"shiva","age":22,"gender":"male"
}
print(d.pop("name","not present"))

shiva
{'age': 22, 'gender': 'male'}

In [29]:

l=[ "name","age","gender"]
d={}
print(d.fromkeys(l,0))

l=["name","age","gender"]
d=dict.fromkeys(l,0)
print(d)

{'name': 0, 'age': 0, 'gender': 0}
{'name': 0, 'age': 0, 'gender': 0}

In [2]:
# popitem()
ip={"name":"shiva", "age":22,"gender":"male"}
ip.popitem()

('gender', 'male')

In [ ]:
#delete()
ip={"name":"shiva", "age":22,"gender":"male"}
del ip["name"]
print(ip)

ip={"name":"shiva", "age":22,"gender":"male"}
del ip
print(ip)#it gives error

{'age': 22, 'gender': 'male'}

In [12]:
#zip()
keys=["name","age","gender"]
values=["shiva","22","male"]
d=dict(zip(keys,values))
print(d)

{'name': 'shiva', 'age': '22', 'gender': 'male'}

In [15]:
keys=["name","age","gender"]
values=["shiva",22,"male"]
d={}
for i in range(len(keys)):
    d[keys[i]]=values[i]
print(d)

{'name': 'shiva', 'age': 22, 'gender': 'male'}

In [ ]:
num=[1,2,3,2,4,5,2,5,2]
tar=2
d={}

for i in num:
        if i in d:
                d[i]+=1
        else:
                d[i]=1
       
                
print(d[tar])

4

In [ ]:
num=[1,2,3,2,4,5,2,5,2]

# least count

In [3]:
l=[107,10,99,9,999]
lower=l[0]
sec=""
for i in l:
    if i<lower:
        lower=i 

        
print(lower)

9

In [4]:
ip="hello world"
op=""
bp=ip.split()
for i in bp:
    op="".join(bp)
print(op)

helloworld

In [5]:
ip="hello"
op= ip[::-1]
print(op)

olleh

In [ ]:
ip="my_variabel_name"
op=""
b="_"
for i in range(0,len(ip)):
    r=ip[i]
    if r in b:
     op+=""
    else:
      if 
print(op)

MYVARIABELNAME

In [15]:
ip="my_variabel_name"
op=ip.split("_")
b="_"
camel=op[0]+"".join(word.capitalize() for word in op[1::])
print(camel)

myVariabelName

In [ ]:
ip="my_variabel_name"
op=ip.split("_")
b="_"
camel="".join(word.capitalize() for word in op[::])
print(camel)

('my', 'MyVariabelName')

In [26]:
ip="myVariabelName"

b="_"
camel="".join(word.capitalize() for word in ip[::])
print(camel)

MYVARIABELNAME

In [18]:
ip="abc123d4"
op=""
for i in ip:
    if i.isdigit():
        op+=i
print(op)

1234

In [19]:
ip="Hello"
op=""
for  i in ip:
    r=ord(i)
    if r>=65 and r<=90:
        op+=chr(r+32)
    elif r>=97 and r<=122:
        op+=chr(r-32)
    else:
        op+=r
print(op)

hELLO

In [1]:
n1=1
n2=10
op=0
for i in range(n1,n2+1):
    for j in range(1,11):
        op=i*j
        print(i,"x",j,"=",op)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [13]:
l1=[[1,2,4],[3,4,5],[6,7,8]]
res=[]
for i in range(len(l1)):
    op1=l1[i]
    op=0
    for j in range(len(op1)):
        op+=l1[i][j]
    res.append(op)
print(res)

[7, 12, 21]

In [ ]:
d=map(int,input().split())
l=list(map(int,input().split()))

In [2]:
l=[]
n=3
for i in range(n):
    ll=list(map(int,input().split()))
    l.append(ll)
print(l)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [27]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [29]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [26]:
def isprime(n):
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True


def nearest(num):
    if isprime(num):
        return num
    lower=num-1
    higher=num+1
    while True:
        if isprime(lower):
            return lower
        if isprime(higher):
            return higher
    lower-=1
    higher+=1

print(nearest(ip))
ip=10

11

In [44]:
n=5
for i in range(n):
    for j in range(i,n-1):
        print( " ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
 
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [51]:
n=5
for i in range(n):
    for j in range(i,n):
        print( "*",end=" ")
    for k in range(i+1):
        print(" ",end=" ")
 
    print()

* * * * *
* * * *
* * *
* *
*

In [11]:
l=[]
t=[]
n=3
for _ in range(n):
    ll=list(map(int,input().split()))
    l.append(ll)
    lll=list(map(int,input().split()))
    t.append(lll)
   
print(l)
print(t)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
n=5
for i in range(0,n+1):
    for j in range(i,n+1):
        if i==1 or i==n or j==1 or j==n:
            print("",end=" ")
        else:
            print("*",end=" ")
    print()

*  * * *

* * *
* *
*

In [12]:
n=5
for i in range(n):
    for j in range(i+1):
        if i==j or j==0 or i==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [ ]:
n=5
for i in range(1,n+1):
    if i==1 or i==n:
        print("*"*i)
    else:
        print("*"+" "*(i-2)+"*")
    print()

*
**

* *

*  *

*****

In [ ]:
n=5
for i in range(1,n+1):
    s=" "*
    +

SyntaxError: expected ':' (2717475412.py, line 2)

In [12]:
ip=input("enter the word ")
def limit():

    if len(ip)!=6:
        return False
print(limit())

False

In [7]:
ip=int(input("test case"))
print("testcase",ip)

st=[]
for i in range(ip):
    kp=int(input("len"))
    print("len",kp)
    op=[]
    for j in range(kp):
        
        mp=op.append(int(input("values")))
        print("values",mp)
    st.append(max(op))
print(st)

testcase 2
len 2
values None
values None
len 2
values None
values None
[4, 8]

In [3]:
n=5
for i in range(5):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [4]:
n=5
for i in range(5):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
val=0
for i in range(n):
    for j in range(i+1):
        val+=1
        print(val,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [11]:
n=5
for i in range(n):
    for j in range(n-i-1):
    
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [15]:
n=5
for i in range(n-1,-1,-1):
    for k in range(n-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    for l in range(n-i-1):
        print(" ",end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [19]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()
for i in range(n-2,-1,-1):
    for j in range(n-i-1):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    for l in range(n-i-1):
        print(" ",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [21]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n-1,-1,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = 5  

start = 1   

for i in range(n):
    if i%2==0:
        start=1
    else:
        start=0
    for j in range(i+1):
        print(start, end=" ")
        start = 1 - start
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [18]:
n=5
space=2*(n-1)
for i in range(n):
    for j in  range(i+1):
        print(j+1,end=" ")
    
    for l in range(space):
        print(" ",end=" ")
    space-=2
    for k in range(i+1,0,-1):
        print(k,end=" ")
    
    print()

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [20]:
n=5
value=0
for i in range(n):
    for j in range(i+1):
        value+=1
        print(value,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [25]:
char="a"
n=5
for i in range(n-1,-1,-1):
    for j in range(i+1):
        print(chr(ord(char)+(j)), end=" ")
    print()

a b c d e
a b c d
a b c
a b
a

In [26]:
n=5
char="A"
for i  in range(n):
    for j in range(i+1):
        print(chr(ord(char)+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [34]:
n=5
char="A"
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for k in range(2*i+1):
        print(chr(ord(char)+i),end=" ")
    print()

        A
      B B B
    C C C C C
  D D D D D D D
E E E E E E E E E

In [36]:
n=5

for i in range(1,n+1):
    for j in range(n,n-i,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [37]:
n=5
char="e"
for i in range(n):
    start=ord(char)-i
    for j in range(i+1):
        print(chr(start+j),end=" ")
    print()

e
d e
c d e
b c d e
a b c d e

In [68]:
n=5
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    for k in range(2*i):
        print(" ",end=" ")
    for l in range(n-i):
        print("*",end=" ")
    print()
space=2*(n-1)
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    for k in range(space):
        print(" ",end=" ")
    space-=2
    for l in range(i+1):
        print("*",end=" ")
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [83]:
n=5
space=2*(n-1)
for i in range(n):
    
    for j in range(i+1):
        print("*",end=" ")
    for k in range(space):
        print(" ",end=" ")
    space-=2
   
    for l in range(i+1):
        print("*",end=" ")

    print()
for i in range(n):
    for j in range(n-i-1):
        print("*",end=" ")
    for k in range(2*i+2):
        print(" ",end=" ")
    for l in range(n-i-1):
        print("*",end=" ")
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [ ]:
n=6
for i in  range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [1]:
def palim(s,p1,p2):
    if p1>p2:
        return True
    if s[p1]==s[p2]:
        return palim(s,p1+1,p2-1)
    return False

s="madam"
p1=0
p2=len(s)-1
print(palim(s,p1,p2))

True

In [3]:
def sum(n):
    if n==1:
        return n
    return n+(sum(n-1))
n=10
print(sum(n))

55

In [4]:
def fact(n):
    if n==1:
        return n
    return n*(fact(n-1))
n=5
print(fact(n))

120

In [5]:
def squar(n,m):
    if m==1:
        return n
    return n*(squar(n,m-1))
n=2
m=3
print(squar(n,m))

8

In [ ]:
def fibona():

In [13]:
n=10 
a,b=0,1
for i in range(10):
    print(a)
    a,b=b,a+b
print(a)

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
def fabina